[submodule "Display/hd44780"]
	path = Display/hd44780
	url = git@github.com:phonght32/hd44780.git
[submodule "Sensor/joystick"]
	path = Sensor/joystick
	url = git@github.com:phonght32/joystick.git
[submodule "Radio/nrf24l01"]
	path = Radio/nrf24l01
	url = git@github.com:phonght32/nrf24l01.git
[submodule "Radio/sx1278"]
	path = Radio/sx1278
	url = git@github.com:phonght32/sx1278.git
[submodule "TxProtocol/OpenDrone_TxProtocol"]
	path = TxProtocol/OpenDrone_TxProtocol
	url = git@github.com:phonght32/OpenDrone_TxProtocol.git
